@use 'colors' as *;
// ***********************************banner*****************************

.banner {
    background-image: url(../img/banner-sm.webp);
    background-size: cover;
    background-position: center;
    margin-bottom: 3rem;

    .banner-text {
        padding-top: 10rem;
        padding-bottom: 15rem ;
        h2 {
            font-family: 'Piazzolla', serif;
            font-size: clamp(2rem, 1.6364rem + 1.8182vw, 3rem);
            line-height: 3rem;
            color: $text-white-transparent;
            text-transform: none;
            font-style: italic;
            text-shadow: 1px 1px 2px $black;

            span {
                display: block;
                font-family: 'Roboto', sans-serif;
                color: $text-white;
                font-weight: 900;
                font-size: clamp(3rem, 2.4545rem + 2.7273vw, 4.5rem);
                line-height: 4.5rem;
                text-transform: uppercase;
            }
        }

        input {
            width: 100%;
            padding: 0.5rem 0.5rem 0.5rem 2.5rem;
            background-image: url(../img/icons8-magnifying-glass\ \(1\).svg);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 2%;
            border: none;
            border-radius: 5px;
            margin-bottom: 1.5rem;
        }

        p {
            color: $text-white;
            text-transform: uppercase;

            a {
                display: inline-block;
                color: $text-white;
                text-decoration: underline;
                padding: 1rem 1rem 1rem 0;
                font-weight: bold;
            }
        }
    }

}


// *******************************Cards******************************


section {
    .card-flex {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .card {
            background-color: $card-bg;

            svg {
                width: 175px;
                display: block;
                margin: 0 auto;
                stroke: $svg-green;
                fill: $svg-green;
                padding: 1.5rem 0;
                .eclipse{
                    stroke: $blue;
                }
                .inner-svg{
                    fill: $svg-green;
                }
            }

            .card-text-bg {
                background-color: $blue;
                color: $text-white;
                padding: 1.5rem;

                p {
                    padding-bottom: 3rem;
                }
            }
        }
    }
}

// ***************************************Testimonial***********************************************

.testimonial-bg {
    background-color: $card-bg;

    .testimonial-flex {
        display: flex;
        flex-direction: column;

        .testimonial-text {
            color: $blue;
            padding: 1.5rem;
            padding-bottom: 1.5rem;

            p {
                font-family: 'Piazzolla', serif;
                font-style: italic;
                padding-bottom: 0.5rem;
            }

            .author {
                font-size: 1rem;
            }
        }
    }
}

// *********************************************Browse***************************************************************

.browse {

    h2 {
        grid-column: 1 / -1;
        color: $blue;
        max-width: 75rem;
        margin: 0 auto;
    }

    .keyword {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .bg-img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 15rem;

            a {
                color: $text-white;
                text-align: center;
                position: relative;
                top: 33%;


                p {
                    font-family: 'Piazzolla', serif;
                    font-size: clamp(1rem, 0.9545rem + 0.2273vw, 1.125rem);
                }

                h3 {
                    font-weight: bold;
                    font-size: clamp(1.5rem, 0.9545rem + 2.7273vw, 3rem);
                
                }
            }
        }

        .bg-img:nth-of-type(1) {
            background-image: url(../img/landscape-sm.webp);
            grid-column: 1 / 2;
        }

        .bg-img:nth-of-type(2) {
            background-image: url(../img/clock-sm.webp);
            grid-column: 2 / -1;
        }

        .bg-img:nth-of-type(3) {
            background-image: url(../img/fashion-sm.webp);
        }

        .bg-img:nth-of-type(4) {
            background-image: url(../img/people-sm.webp);
        }

        .bg-img:nth-of-type(5) {
            background-image: url(../img/design-sm.webp);
        }

        .bg-img:nth-of-type(6) {
            background-image: url(../img/technology.webp);
        }

        .bg-img:nth-of-type(7) {
            background-image: url(../img/cooking-sm.webp);
        }

        .bg-img:nth-of-type(8) {
            background-image: url(../img/cityscape.webp);
        }

        .bg-img:nth-of-type(9) {
            background-image: url(../img/dog-paws-sm.webp);
        }

        .bg-img:nth-of-type(10) {
            background-image: url(../img/nature-sm.webp);
        }
    }
}


// *****************************************************Statistics************************************************************

.statistics {
    background-color: $card-bg;

    h2 {
        color: $blue;
    }

    .stats-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;

        div {
            text-align: center;
            padding: 1.5rem;

            p:first-of-type {
                font-size: clamp(2.5rem, 2.3182rem + 0.9091vw, 3rem);
                line-height: 3rem;
                font-weight: bold;
            }

            p:last-of-type {
                font-size: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem);

            }
        }
    }
}



// **********************************************************Media Queries********************************************


@media screen and (min-width: 700px) {
    .banner {
        background-image: url(../img/banner-md.webp);
        .banner-text {
            max-width: 550px;

            h2 {
                line-height: 4.5rem;
            }

            span {

                padding-bottom: 1.5rem;
            }
        }
    }


    .testimonial-bg {


        .testimonial-flex {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 300px;
            margin-bottom: 6rem;
        }

        .testimonial-text {
            max-width: 60ch;
        }

        img {
            position: relative;
            top: 50px;
        }
    }
}

@media screen and (min-width: 844px) {
    section {
        .card-flex {
            flex-direction: row;
            gap: 1rem;

            .card {
                background-color: $card-bg;

                svg {
                    width: 175px;
                    display: block;
                    margin: 0 auto;
                    stroke: $svg-green;
                    fill: $svg-green;
                    padding: 1.5rem 0;
                }

                .card-text-bg {
                    background-color: $blue;
                    color: $text-white;
                    padding: 1.5rem;

                    p {
                        padding-bottom: 3rem;
                    }
                }
            }
        }
    }

    .browse {
        .keyword {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .bg-img:nth-of-type(1) {
                grid-column: 1 / 2;
            }

            .bg-img:nth-of-type(2) {
                grid-column: 2 / 3;
            }

            .bg-img:nth-of-type(3) {
                grid-column: 3 / -1;
            }


            .bg-img:nth-of-type(10) {
                grid-column: 2 / 3;
            }
        }
    }

}

@media screen and (min-width: 1150px) {
    .banner{
        background-image: url(../img/banner-lg.webp);
    }
    .browse {
        .keyword {
            grid-template-columns: repeat(4, 1fr);


            .bg-img:nth-of-type(3) {
                grid-column: 3 / 4;
            }

            .bg-img:nth-of-type(4) {
                grid-column: 4 / 5;
            }

            .bg-img:nth-of-type(9) {

                grid-column: 2 / 3;
            }

            .bg-img:nth-of-type(10) {

                grid-column: 3 / 4;
            }
        }
    }

}

@media screen and (min-width: 1300px) {
    .browse {
        .keyword {
            grid-template-columns: repeat(5, 1fr);
            .bg-img:nth-of-type(1) {
                background-image: url(../img/landscape-lg.webp);
                grid-column: 1 / 2;
            }
    
            .bg-img:nth-of-type(2) {
                background-image: url(../img/clock-lg.webp);
            }
    
            .bg-img:nth-of-type(3) {
                background-image: url(../img/fashion-lg.webp);
            }
    
            .bg-img:nth-of-type(4) {
                background-image: url(../img/people-lg.webp);
            }
    
            .bg-img:nth-of-type(5) {
                background-image: url(../img/design-lg.webp);
                grid-column: 5 / -1;
            }
    
            .bg-img:nth-of-type(6) {
                background-image: url(../img/technology.webp);
            }
    
            .bg-img:nth-of-type(7) {
                background-image: url(../img/cooking-lg.webp);
            }
    
            .bg-img:nth-of-type(8) {
                background-image: url(../img/cityscape.webp);
            }
    
            .bg-img:nth-of-type(9) {
                background-image: url(../img/dog-paws-lg.webp);
                grid-column: 4 / 5;
            }
    
            .bg-img:nth-of-type(10) {
                background-image: url(../img/nature-lg.webp);
                grid-column: 5 / -1;
            }
        }
    }
}