/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h2 {
  font-size: clamp(1.25rem, 1.1591rem + 0.4545vw, 1.5rem);
  line-height: 3rem;
  font-weight: bold;
}

p {
  font-size: clamp(1rem, 0.9545rem + 0.2273vw, 1.125rem);
  line-height: 1.5rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

section {
  margin-bottom: 3rem;
}

header {
  background-color: #2c3e5b;
}
header .header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .header-flex .btn {
  padding: 0.75rem;
  background-color: #2c3e5b;
  border: none;
}
header .header-flex svg {
  width: 50px;
  stroke: #fff;
  fill: rgba(255, 255, 255, 0.6784313725);
}
header .header-flex nav {
  flex: 0 0 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-in-out 1s;
}
header .header-flex nav.show {
  max-height: 400px;
}
header .header-flex .menu-links li {
  line-height: 3.5rem;
  margin-bottom: 0.75rem;
}
header .header-flex .menu-links a {
  display: block;
  padding-left: 0.75rem;
  color: #fff;
}

@media screen and (min-width: 730px) {
  header .header-flex {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  header .header-flex .btn {
    display: none;
  }
  header .header-flex nav {
    flex: 0 1 auto;
    max-height: unset;
  }
  header .header-flex nav .menu-links {
    display: flex;
    gap: 1rem;
  }
  header .header-flex .menu-links li {
    margin-bottom: 0;
  }
}
.banner {
  background-image: url(../img/waterfall-3723422_1920.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}
.banner .banner-text {
  padding-top: 15rem;
}
.banner .banner-text h2 {
  font-family: "Piazzolla", serif;
  font-size: clamp(2rem, 1.6364rem + 1.8182vw, 3rem);
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.6784313725);
  text-transform: none;
  font-style: italic;
  text-shadow: 1px 1px 2px #000;
}
.banner .banner-text h2 span {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: clamp(3rem, 2.4545rem + 2.7273vw, 4.5rem);
  line-height: 4.5rem;
  text-transform: uppercase;
}
.banner .banner-text input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  background-image: url(../img/icons8-magnifying-glass\ \(1\).svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 2%;
  border: none;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}
.banner .banner-text p {
  color: #fff;
  text-transform: uppercase;
}
.banner .banner-text p a {
  display: inline-block;
  color: #fff;
  text-decoration: underline;
  padding: 1rem 1rem 1rem 0;
  font-weight: bold;
}

section .card-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section .card-flex .card {
  background-color: #f9f8f7;
}
section .card-flex .card svg {
  width: 175px;
  display: block;
  margin: 0 auto;
  stroke: #798760;
  fill: #798760;
  padding: 1.5rem 0;
}
section .card-flex .card .card-text-bg {
  background-color: #2c3e5b;
  color: #fff;
  padding: 1.5rem;
}
section .card-flex .card .card-text-bg p {
  padding-bottom: 3rem;
}

.testimonial-bg {
  background-color: #f9f8f7;
}
.testimonial-bg .testimonial-flex {
  display: flex;
  flex-direction: column;
}
.testimonial-bg .testimonial-flex .testimonial-text {
  color: #2c3e5b;
  padding: 1.5rem;
  padding-bottom: 1.5rem;
}
.testimonial-bg .testimonial-flex .testimonial-text p {
  font-family: "Piazzolla", serif;
  font-style: italic;
  padding-bottom: 0.5rem;
}
.testimonial-bg .testimonial-flex .testimonial-text .author {
  font-size: 1rem;
}

.browse h2 {
  grid-column: 1/-1;
  color: #2c3e5b;
  max-width: 75rem;
  margin: 0 auto;
}
.browse .keyword {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.browse .keyword .bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15rem;
}
.browse .keyword .bg-img a {
  color: #fff;
  text-align: center;
  position: relative;
  top: 33%;
}
.browse .keyword .bg-img a p {
  font-family: "Piazzolla", serif;
  font-size: clamp(1rem, 0.9545rem + 0.2273vw, 1.125rem);
}
.browse .keyword .bg-img a h3 {
  font-weight: bold;
  font-size: clamp(2rem, 1.6364rem + 1.8182vw, 3rem);
}
.browse .keyword .bg-img:nth-of-type(1) {
  background-image: url(../img/blue-landscape.jpg);
  grid-column: 1/2;
}
.browse .keyword .bg-img:nth-of-type(2) {
  background-image: url(../img/arash-asghari-AYAZnkZWkb4-unsplash.jpg);
  grid-column: 2/-1;
}
.browse .keyword .bg-img:nth-of-type(3) {
  background-image: url(../img/elegant-red-formal-fashion.jpg);
}
.browse .keyword .bg-img:nth-of-type(4) {
  background-image: url(../img/four-friends.jpg);
}
.browse .keyword .bg-img:nth-of-type(5) {
  background-image: url(../img/dark-wall-bedside-table.jpg);
}
.browse .keyword .bg-img:nth-of-type(6) {
  background-image: url(../img/daniel-korpai-HyTwtsk8XqA-unsplash.jpg);
}
.browse .keyword .bg-img:nth-of-type(7) {
  background-image: url(../img/ramen-noodles-kitchen-and-cooking.jpg);
}
.browse .keyword .bg-img:nth-of-type(8) {
  background-image: url(../img/josh-rose-9YQGFzg0RiM-unsplash.jpg);
}
.browse .keyword .bg-img:nth-of-type(9) {
  background-image: url(../img/dog-paws.jpg);
}
.browse .keyword .bg-img:nth-of-type(10) {
  background-image: url(../img/standing-in-woods.jpg);
}

.statistics {
  background-color: #f9f8f7;
}
.statistics h2 {
  color: #2c3e5b;
}
.statistics .stats-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.statistics .stats-flex div {
  text-align: center;
  padding: 1.5rem;
}
.statistics .stats-flex div p:first-of-type {
  font-size: clamp(2.5rem, 2.3182rem + 0.9091vw, 3rem);
  line-height: 3rem;
  font-weight: bold;
}
.statistics .stats-flex div p:last-of-type {
  font-size: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem);
}

@media screen and (min-width: 700px) {
  .banner .banner-text {
    max-width: 550px;
  }
  .banner .banner-text h2 {
    line-height: 4.5rem;
  }
  .banner .banner-text span {
    padding-bottom: 1.5rem;
  }
  .testimonial-bg .testimonial-flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin-bottom: 6rem;
  }
  .testimonial-bg .testimonial-text {
    max-width: 60ch;
  }
  .testimonial-bg img {
    position: relative;
    top: 50px;
  }
}
@media screen and (min-width: 844px) {
  section .card-flex {
    flex-direction: row;
    gap: 1rem;
  }
  section .card-flex .card {
    background-color: #f9f8f7;
  }
  section .card-flex .card svg {
    width: 175px;
    display: block;
    margin: 0 auto;
    stroke: #798760;
    fill: #798760;
    padding: 1.5rem 0;
  }
  section .card-flex .card .card-text-bg {
    background-color: #2c3e5b;
    color: #fff;
    padding: 1.5rem;
  }
  section .card-flex .card .card-text-bg p {
    padding-bottom: 3rem;
  }
  .browse .keyword {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .browse .keyword .bg-img:nth-of-type(1) {
    grid-column: 1/2;
  }
  .browse .keyword .bg-img:nth-of-type(2) {
    grid-column: 2/3;
  }
  .browse .keyword .bg-img:nth-of-type(3) {
    grid-column: 3/-1;
  }
  .browse .keyword .bg-img:nth-of-type(10) {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 1150px) {
  .browse .keyword {
    grid-template-columns: repeat(4, 1fr);
  }
  .browse .keyword .bg-img:nth-of-type(3) {
    grid-column: 3/4;
  }
  .browse .keyword .bg-img:nth-of-type(4) {
    grid-column: 4/5;
  }
  .browse .keyword .bg-img:nth-of-type(9) {
    grid-column: 2/3;
  }
  .browse .keyword .bg-img:nth-of-type(10) {
    grid-column: 3/4;
  }
}
@media screen and (min-width: 1300px) {
  .browse .keyword {
    grid-template-columns: repeat(5, 1fr);
  }
  .browse .keyword .bg-img:nth-of-type(5) {
    grid-column: 5/-1;
  }
  .browse .keyword .bg-img:nth-of-type(9) {
    grid-column: 4/5;
  }
  .browse .keyword .bg-img:nth-of-type(10) {
    grid-column: 5/-1;
  }
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  color: #9d9d9d;
}/*# sourceMappingURL=styles.css.map */